<footer class="ptxl pbm">
  <div class="wrapper--wide">
    <ul class="sponsors mbxl">
      <li><a href="http://acando.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Acando"><img style="background-color:#FFF;width:200px;height:100px" src="/img/sponsors/acando.svg" alt=""></a></li>
      <li><a href="http://bouvet.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Bouvet"><img src="/img/sponsors/bouvet.png" alt=""></a></li>
      <li><a href="http://microsoft.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Microsoft"><img src="/img/sponsors/microsoft.png" alt=""></a></li>
      <li><a href="https://goo.gl/Z6VihS?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Schibsted"><img src="/img/sponsors/schibsted_logo.png" width="200" height="100"alt="Schibsted logo"></a></li>
      <li><a href="http://systek.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Systek"><img style="background-color:#FFF;width:200px;height:100px;padding:10px;" src="/img/sponsors/systek.svg" alt=""></a></li>
      <li><a href="http://netliferesearch.com/?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Netlife Reseach"><img src="/img/sponsors/netlife.png" alt=""></a></li>
      <li><a href="http://bekk.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Bekk"><img src="/img/sponsors/bekk.png" alt=""></a></li>
      <li><a href="http://webstep.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Webstep"><img src="/img/sponsors/webstep.png" alt=""></a></li>
      <li><a href="http://appear.in?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="appear.in"><img src="/img/sponsors/appearin.png" alt=""></a></li>
      <li><a href="http://kodemaker.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Kodemaker"><img src="/img/sponsors/kodemaker.png" alt=""></a></li>
      <li><a href="http://knowit.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="KnowIt"><img src="/img/sponsors/knowit.png" alt=""></a></li>
      <li><a href="https://opbeat.com?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Opbeat"><img style="background-color:#FFF;width:200px;height:100px;padding:10px;" src="/img/sponsors/opbeat.svg" alt=""></a></li>
      <li><a href="https://ride.com/?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Ride"><img style="background-color:#FFF;width:200px;height:100px;padding:10px;" src="/img/sponsors/ride.svg" alt=""></a></li>
      <li><a href="https://www.mozilla.org/?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Mozilla"><img style="background-color:#FFF;width:200px;height:100px;padding:10px;" src="/img/sponsors/mozilla.svg" alt=""></a></li>
      <li><a href="https://www.finn.no/apply-here?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Finn"><img style="background-color:#FFF;width:200px;height:100px" src="/img/sponsors/finn.png" alt="Finn logo"></a></li>
    </ul>
    <ul class="menu tc">
      <li class="menu-item"><a href="/schedule">Schedule</a></li>
      <li class="menu-item"><a href="/location">Location</a></li>
      <li class="menu-item"><a href="/speakers">Speakers</a></li>
      <li class="menu-item"><a href="/sponsors">Sponsors</a></li>
      <li class="menu-item"><a href="/about">About</a></li>
      <li class="menu-item"><a href="/tickets">Tickets</a></li>
      <li class="menu-item"></li>
    </ul>
    <ul class="menu tc">
      <li class="menu-item"><a href="https://twitter.com/web_rebels">Twitter</a></li>
      <li class="menu-item"><a href="http://lanyrd.com/2016/webrebels/">Lanyrd</a></li>
      <li class="menu-item"><a href="http://flickr.com/webrebels">Photos</a></li>
      <li class="menu-item"><a href="http://eepurl.com/bB12Ln">Newsletter</a></li>
      <li class="menu-item"><a href="https://www.youtube.com/channel/UCM9cTs_C0PmTlHXTNrqTpnw">YouTube Channel</a></li>
      <li class="menu-item"><a href="http://webrebels.tumblr.com">Tumblr</a></li>
    </ul>
  </div>
  <p class="tc" style="color:white;">Web Rebels is part for the <a href="http://jsconf.com">JSConf family of events</a> and have a <a href="/about#coc">Code of Conduct</a></p>
</footer>
