<header>
  <div class="wrapper">
    <h1 class="visuallyhidden">Web Rebels Conference</h1>
    <div class="logo">
      <a href="/"><img class="logo-img" src="/img/logo-webrebels.svg" alt="Web Rebels"></a>
    </div>
  </div>
</header>
