  <header class="">
    <div class="vulkan">
      <div class="logo">
        <h1 class="impact mega mbn ptl">Web Rebels</h1>
        <h2 class="f2">2–3 June 2016 / Oslo, Norway</h2>
      </div>
    </div>
  </header>
