  <div class="">
    <div class="wrapper pvxl">

      <h2 class="impact">A JavaScript conference</h2>
      <p>The Web Rebels conference is a JavaScript conference and we are proud members of <a href="http://jsconf.com/">the JSConf family of events</a>. We are a conference for developers who love building applications and services using web technology.</p>

      <h2 class="impact">For the community, not for profit</h2>
      <p>We are a <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=997686659">registered not-for-profit organization</a> that is run by unpaid volunteers. If we make any profit from the conference we give 30% back to community groups throughout the Nordic region. Any questions you might have: <a href="mailto:boyhowdy[ replace this bracket with a @ ]webrebels.org">shoot us an email</a> or find us on <a href="http://twitter.com/web_rebels/">Twitter</a>.</p>
      <p>We invite <a href="./speakers">16 speakers</a>. We do not have a CFP and our <a href="./policies">policy</a> is that speakers at the conference get paid for their travel and accommodation. We do not sell speaker slots and we do not accept sales pitches masked as presentations.</p>

      <h2 class="impact" id="#coc">Code of Conduct</h2>
      <p>We want these couple of days to be truly enjoyable for everyone.  Attendees, speakers, sponsors and volunteers must all respect the <a href="http://jsconf.com/codeofconduct.html">JSConf Code of Conduct</a>.<br>
      If anything happens that we should know about, contact a member of the crew. (Todo: add contact info!)</p>

      <h2 class="impact">Rebel crew</h2>
      <p>The volunteers working to bring you the 5th Web Rebels Conference are:</p>
      <ul>
        <li>Alexandra Leisse (<a href="https://github.com/troubalex">@troubalex</a>)</li>
        <li>Anders Olsen Sandvik (<a href="https://github.com/Andersos">@Andersos</a>)</li>
        <li>Bodil Stokke (<a href="https://github.com/bodil">@bodil</a>)</li>
        <li>Elisabeth Irgens (<a href="https://github.com/elisabethirgens">@elisabethirgens</a>)</li>
        <li>Espen Dalløkken (<a href="https://github.com/leftieFriele">@leftieFriele</a>)</li>
        <li>Richard Walker (<a href="https://github.com/digitalsadhu">@digitalsadhu</a>)</li>
        <li>Trygve Lie (<a href="https://github.com/trygve-lie">@trygve-lie</a>)</li>
      </ul>

    </div>
  </div>