<h1>All about the conference</h1>
<article>
  <img src="img/classof2014.jpg">
  <h2>A JavaScript conference</h2>
  <p>The Web Rebels conference is a JavaScript conference and we are proud members of <a href="http://jsconf.com/">the JSConf family of events</a>. 
  We are a conference for everyone who's interested in building web based services or products using JavaScript. You should not expect any introductionary talks at our conference as we strive to have a program which inspires and challenges the attendees.
  What you should expect is amazing speakers who are among the best this planet has to offer.</p>
  <h2>A non-profit, community driven conference</h2>
  We are a <a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=997686659">registered not-for-profit organization</a> and is run by unpaid volunteers. If we make any profit from the conference we give 30% back to community groups throughout the Nordic region.</p>
  <p>Any questions you might have, please do not hesitate to <a href="mailto:boyhowdy[ replace this bracket with a @ ]webrebels.org">shoot us an email</a> or ask <a href="http://twitter.com/web_rebels/">on Twitter</a>.</p>
</article>
<article>
    <h2>Organizers</h2>
    <p>The voulenteers working to bring you the 5th Web Rebels Conference are:</p>
    <ul>
        <li><img>Ander S. Olsen</li>
        <li><img>Bodil Stokke</li>
        <li><img>Elisabeth Irgens</li>
        <li><img>Espen Dalløkken</li>
        <li><img>Richard Walker</li>
        <li><img>Trygve Lie</li>
    </ul>
    <p></p>
</article>
<article>
<a name="coc"></a>
    <h2>Code of Conduct</h2>
    <p>We want these couple of days to be truly enjoyable for everyone.  Attendees, speakers, sponsors and volunteers must respect the <a href="http://jsconf.com/codeofconduct.html">JSConf Code of Conduct</a>. If anything happens that you feel we does not comply with the code of conduct, contact one of the organizers:
    <ul>
      <li>Trgyve Lie: + 47 xxx xxx xxx, trygve@webrebels.org</li>
      <li>Bodil Stokke, + 44 xx xxx xx, bodil@webrebels.org</li>
      <li>Espen Dalløkken, +47 xxx xxxx, espen@webrebels.org</li>
    </ul>
    </p>
</article>
<article>
  <h2>16 invited speakers</h2>
  <p>For the <a href="./schedule">conference main track</a> we invite <a href="./speakers">16 speakers</a>. We do not have a CFP and our <a href="./policies">policy</a> is that speakers at the conference get paid for their travel and accommodation. We do not sell speaker slots and we do not accept sales pitches masked as presentations.</p>
</article>

