  <div class="oslo">
    <div class="wrapper">
      <div href="#" class="box">
        <h2 class="impact">Schedule, tickets and travel info!</h2>
        <p>May is nearing it's end and the 5th Web Rebels Conference is coming closer!
          If you need to make plans, head over to the <a class="link" href="/schedule">Schedule</a>
          (it will be updated continously).</p>
        <p>If you're still thinking of going? You are in luck, there is ONE ticket left!<br>
          <a class="link" href="/tickets">Go grab it &gt;</a></p>
      </div>
    </div>
  </div>

  <div class="hellospeakers ptxl pbl">
    <div class="wrapper">
      <ul class="speakers">

        <li class="speaker">
          <a class="speaker-link" href="/speakers#borissmus" title="">
            <img class="speaker-img" src="img/speakers/borissmus.png" alt="Boris Smus">
            <h3 class="speaker-name lh-title">Boris Smus</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#daviddias" title="">
            <img class="speaker-img" src="img/speakers/daviddias.png" alt="David Dias">
            <h3 class="speaker-name lh-title">David Dias</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#jamisondance" title="">
            <img class="speaker-img" src="img/speakers/jamisondance.png" alt="Jamison Dance">
            <h3 class="speaker-name lh-title">Jamison Dance</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#patriciarealini" title="">
            <img class="speaker-img" src="img/speakers/patriciarealini.png" alt="Patricia Realini">
            <h3 class="speaker-name lh-title">Patricia Realini</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#annevankesteren" title="">
            <img class="speaker-img" src="img/speakers/annevankesteren.png" alt="Anne van Kesteren">
            <h3 class="speaker-name lh-title">Anne van Kesteren</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#jonmckay" title="">
            <img class="speaker-img" src="img/speakers/jonmckay.png" alt="Jon McKay">
            <h3 class="speaker-name lh-title">Jon McKay</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#joepettersson" title="">
            <img class="speaker-img" src="img/speakers/joepettersson.png" alt="Joe Pettersson">
            <h3 class="speaker-name lh-title">Joe Pettersson</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#danielstenberg" title="">
            <img class="speaker-img" src="img/speakers/danielstenberg.png" alt="Daniel Stenberg">
            <h3 class="speaker-name lh-title">Daniel Stenberg</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#justinsearls" title="">
            <img class="speaker-img" src="img/speakers/justinsearls.png" alt="Justin Searls">
            <h3 class="speaker-name lh-title">Justin Searls</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#matthewpodwysocki" title="">
            <img class="speaker-img" src="img/speakers/matthewpodwysocki.png" alt="Matthew Podwysocki">
            <h3 class="speaker-name lh-title">Matthew Podwysocki</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#soledadpenades" title="">
            <img class="speaker-img" src="img/speakers/soledadpenades.png" alt="Soledad Penadés">
            <h3 class="speaker-name lh-title">Soledad Penadés</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#nolanlawson" title="">
            <img class="speaker-img" src="img/speakers/nolanlawson.png" alt="Nolan Lawson">
            <h3 class="speaker-name lh-title">Nolan Lawson</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#marikokosaka" title="">
            <img class="speaker-img" src="img/speakers/marikokosaka.png" alt="Mariko Kosaka">
            <h3 class="speaker-name lh-title">Mariko Kosaka</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#petergasston" title="">
            <img class="speaker-img" src="img/speakers/petergasston.png" alt="Peter Gasston">
            <h3 class="speaker-name lh-title">Peter Gasston</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers" title="">
            <img class="speaker-img" src="img/speakers/tba-04.svg" alt="">
            <h3 class="speaker-name lh-title">…and 3 more speakers TBA!</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="grunerlokka ptxl">
    <div class="wrapper">
      <div class="box">
        <h2 class="impact">Want some CSS or Node to go with that?</h2>
        <p class="mbs">Same week, same venue, there are two other events you should know about:</p>
        <p class="mbs">* CSSconf Nordic on Wednesday 01 June <a class="link" href="http://cssconf.no/">cssconf.no &gt;</a></p>
        <p>* NodeConf Oslo on Saturday 04 June <a class="link" href="http://oslo.nodeconf.com/">oslo.nodeconf.com &gt;</a></p>
      </div>

      <div class="box">
        <h2 class="impact">Information about Oslo</h2>
        <p>First time in Oslo? Head over to the <a href="/oslo">Oslo Survival Guide</a> for helpful tips on anything from
          accomodation to shopping.</p>
        <p>If you are traveling to Web Rebels with your family you should read our <a href="/family">Family guide</a></p>
          <a class="link" href="/family">Family guide &gt;</a> <a class="link" href="/oslo">Oslo guide &gt;</a></p>
      </div>

      <div class="box">
        <h2 class="impact">Two days of JavaScript in Oslo</h2>
        <p>A non-profit community conference for anyone who loves developing applications and services using web technology. Two days, one track, 16&nbsp;speakers — and now our 5th edition! <a class="link" href="/about">More about Web Rebels &gt;</a></p>
      </div>
    </div>
  </div>
