  <div class="constructivism">
    <div class="wrapper">
      <div class="box">
        <h2 class="impact">Two days of JavaScript in Oslo</h2>
        <p>A non-profit community conference for anyone who loves developing applications and services using web technology. Two days, one track, 16&nbsp;speakers — and now our 5th edition! <a class="link" href="/about">More about Web Rebels &gt;</a></p>
      </div>
      <a href="#" class="box">
        <h2 class="impact">Ticket sales open… soon!</h2>
        <p>We have affordable tickets that include lots of food and beverages for two days. Conferencing in Norway is much cheaper than you may think!</p>
      </a>
    </div>
  </div>

  <div class="hellospeakers ptxl pbl">
    <div class="wrapper">
      <ul class="speakers">
        <li class="speaker">
          <a class="speaker-link" href="" title="">
            <img class="speaker-img" src="img/speakers/tba-01.svg" alt="">
            <h3 class="speaker-name lh-title">Hello There</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="" title="">
            <img class="speaker-img" src="img/speakers/tba-02.svg" alt="">
            <h3 class="speaker-name lh-title">Somebody Speaker</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="" title="">
            <img class="speaker-img" src="img/speakers/tba-03.svg" alt="">
            <h3 class="speaker-name lh-title">Another Speaker Name</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="" title="">
            <img class="speaker-img" src="img/speakers/tba-04.svg" alt="">
            <h3 class="speaker-name lh-title">Speaker Somebody</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="productivism">
    <div class="wrapper">
      <div class="box">
        <h2 class="impact">Want some CSS or Node to go with that?</h2>
        <p class="mbs">Same week, same venue, there are two other events you should know about:</p>
        <p class="mbs">* CSSconf Nordic on Wednesday 01 June <a class="link" href="http://cssconf.no/">cssconf.no &gt;</a></p>
        <p>* NodeConf Oslo on Saturday 04 June <a class="link" href="http://oslo.nodeconf.com/">oslo.nodeconf.com &gt;</a></p>
      </div>
    </div>
  </div>