
  <div class="oslo">
    <div class="wrapper">

      <div class="live-stream-wrapper">
        <iframe width="768" height="432" src="https://www.youtube.com/embed/9JYnL-kQg0o" frameborder="0" allowfullscreen></iframe>
        <!--iframe width="768" height="432" src="https://www.youtube.com/watch?v=LfQ6GWWuVVw" frameborder="0" allowfullscreen></iframe-->
      </div>

      <div href="#" class="box">
        <h2 class="impact">Dinner &amp; social gathering - 18:00</h2>
        <p>Arrrrr Rebels! The conference dinner and social is happening at V Bar. It's out the door
          and to the right. Bring your pirate gold and come hang out!<br>
        Dinner will magically appear at around 19:00.</p>
      </div>

      <div href="#" class="box">
        <h2 class="impact">What happens when and where?</h2>
        <p>The conference opening is drawing ever closer. Therefor we have made sure all
          practical questions about <a class="link" href="/location">the location</a> answers them all.<br>
          <a class="link" href="/schedule">The schedule</a> is up to date with all talks w/ abstracts
        and information on social events.</p>
      </div>
    </div>
  </div>


  <div class="hellospeakers ptxl pbl">
    <div class="wrapper">
      <ul class="speakers">

        <li class="speaker">
          <a class="speaker-link" href="/speakers#juanpabloburitica" title="">
            <img class="speaker-img" src="img/speakers/juanpabloburitica.jpg" alt="Juan Pablo Buriticá">
            <h3 class="speaker-name lh-title">Juan Pablo Buriticá</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#ariastewart" title="">
            <img class="speaker-img" src="img/speakers/ariastewart.jpg" alt="Aria Stewart">
            <h3 class="speaker-name lh-title">Aria Stewart</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#kennethauchenberg" title="">
            <img class="speaker-img" src="img/speakers/kennethauchenberg.jpg" alt="Kenneth Auchenberg">
            <h3 class="speaker-name lh-title">Kenneth Auchenberg</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#mikaelbrevik" title="">
            <img class="speaker-img" src="img/speakers/mikaelbrevik.jpg" alt="Mikael Brevik">
            <h3 class="speaker-name lh-title">Mikael Brevik</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#andreasbovens" title="">
            <img class="speaker-img" src="img/speakers/andreasbovens.jpg" alt="Andreas Bovens">
            <h3 class="speaker-name lh-title">Andreas Bovens</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#daviddias" title="">
            <img class="speaker-img" src="img/speakers/daviddias.jpg" alt="David Dias">
            <h3 class="speaker-name lh-title">David Dias</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#jamisondance" title="">
            <img class="speaker-img" src="img/speakers/jamisondance.jpg" alt="Jamison Dance">
            <h3 class="speaker-name lh-title">Jamison Dance</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#patriciarealini" title="">
            <img class="speaker-img" src="img/speakers/patriciarealini.jpg" alt="Patricia Realini">
            <h3 class="speaker-name lh-title">Patricia Realini</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#annevankesteren" title="">
            <img class="speaker-img" src="img/speakers/annevankesteren.jpg" alt="Anne van Kesteren">
            <h3 class="speaker-name lh-title">Anne van Kesteren</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#jonmckay" title="">
            <img class="speaker-img" src="img/speakers/jonmckay.jpg" alt="Jon McKay">
            <h3 class="speaker-name lh-title">Jon McKay</h3>
          </a>
        </li>

        <li class="speaker">
          <a class="speaker-link" href="/speakers#joepettersson" title="">
            <img class="speaker-img" src="img/speakers/joepettersson.jpg" alt="Joe Pettersson">
            <h3 class="speaker-name lh-title">Joe Pettersson</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#danielstenberg" title="">
            <img class="speaker-img" src="img/speakers/danielstenberg.jpg" alt="Daniel Stenberg">
            <h3 class="speaker-name lh-title">Daniel Stenberg</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#justinsearls" title="">
            <img class="speaker-img" src="img/speakers/justinsearls.jpg" alt="Justin Searls">
            <h3 class="speaker-name lh-title">Justin Searls</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#matthewpodwysocki" title="">
            <img class="speaker-img" src="img/speakers/matthewpodwysocki.jpg" alt="Matthew Podwysocki">
            <h3 class="speaker-name lh-title">Matthew Podwysocki</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#soledadpenades" title="">
            <img class="speaker-img" src="img/speakers/soledadpenades.jpg" alt="Soledad Penadés">
            <h3 class="speaker-name lh-title">Soledad Penadés</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#nolanlawson" title="">
            <img class="speaker-img" src="img/speakers/nolanlawson.jpg" alt="Nolan Lawson">
            <h3 class="speaker-name lh-title">Nolan Lawson</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#marikokosaka" title="">
            <img class="speaker-img" src="img/speakers/marikokosaka.jpg" alt="Mariko Kosaka">
            <h3 class="speaker-name lh-title">Mariko Kosaka</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#petergasston" title="">
            <img class="speaker-img" src="img/speakers/petergasston.jpg" alt="Peter Gasston">
            <h3 class="speaker-name lh-title">Peter Gasston</h3>
          </a>
        </li>

      </ul>
    </div>
  </div>

  <div class="grunerlokka ptxl">
    <div class="wrapper">
      <div class="box">
        <h2 class="impact">Got time before / after the conference?</h2>
        <p>Head over to the <a class="link" href="/oslo">Oslo Survival Guide</a> for helpful tips on
          accomodation, activities, eating, coffe, shopping ++.</p>
        <p>If you are traveling to Web Rebels with your family you should read <a class="link" href="/family">our family guide</a>
          to ensure everyone has a great time.</p>
      </div>
      <div class="box">
        <h2 class="impact">CSS- or Node Conf anyone?</h2>
        <p>The Web Rebels is sold out, but you can still get tickets for <a href="http://cssconf.no">CSSconf Nordic</a> (Wednesday June 1st)
        and <a href="http://oslo.nodeconf.com">NodeConf Oslo</a> (Saturday June 4th)<br>
          <a class="link" href="/tickets">Go Go tickets! &gt;</a></p>
      </div>

      <!--div class="box">
        <h2 class="impact">Two days of JavaScript in Oslo</h2>
        <p>A non-profit community conference for anyone who loves developing applications and services using web technology. Two days, one track, 16&nbsp;speakers — and now our 5th edition! <a class="link" href="/about">More about Web Rebels &gt;</a></p>
      </div-->
    </div>
  </div>
