  <div class="oslo">
    <div class="wrapper">
      <div class="box">
        <h2 class="impact">Two days of JavaScript in Oslo</h2>
        <p>A non-profit community conference for anyone who loves developing applications and services using web technology. Two days, one track, 16&nbsp;speakers — and now our 5th edition! <a class="link" href="/about">More about Web Rebels &gt;</a></p>
      </div>
      <div href="#" class="box">
        <h2 class="impact">Ticket sales open… soon!</h2>
        <p>We pride ourselves in having affordable tickets with good value. You&nbsp;won’t go hungry or thirsty — or run any risk of decaffeination. Conferencing in Norway is cheaper than you think! <a class="link" href="/tickets">Ticket sales &gt;</a></p>
      </div>
    </div>
  </div>

  <div class="hellospeakers ptxl pbl">
    <div class="wrapper">
      <ul class="speakers">
        <li class="speaker">
          <a class="speaker-link" href="/speakers#justinsearls" title="">
            <img class="speaker-img" src="img/speakers/justinsearls.png" alt="">
            <h3 class="speaker-name lh-title">Justin Searls</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#matthewpodwysocki" title="">
            <img class="speaker-img" src="img/speakers/matthewpodwysocki.png" alt="">
            <h3 class="speaker-name lh-title">Matthew Podwysocki</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#nolanlawson" title="">
            <img class="speaker-img" src="img/speakers/nolanlawson.png" alt="">
            <h3 class="speaker-name lh-title">Nolan Lawson</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers#petergasston" title="">
            <img class="speaker-img" src="img/speakers/petergasston.png" alt="">
            <h3 class="speaker-name lh-title">Peter Gasston</h3>
          </a>
        </li>
        <li class="speaker">
          <a class="speaker-link" href="/speakers" title="">
            <img class="speaker-img" src="img/speakers/tba-04.svg" alt="">
            <h3 class="speaker-name lh-title">…and 12 more speakers TBA!</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="grunerlokka ptxl">
    <div class="wrapper">
      <div class="box">
        <h2 class="impact">Want some CSS or Node to go with that?</h2>
        <p class="mbs">Same week, same venue, there are two other events you should know about:</p>
        <p class="mbs">* CSSconf Nordic on Wednesday 01 June <a class="link" href="http://cssconf.no/">cssconf.no &gt;</a></p>
        <p>* NodeConf Oslo on Saturday 04 June <a class="link" href="http://oslo.nodeconf.com/">oslo.nodeconf.com &gt;</a></p>
      </div>
    </div>
  </div>