  <div class="">
    <div class="wrapper pvxl">

      <h2 class="impact">Welcome to Grünerløkka and Vulkan</h2>
      <p>Everything related to the conference happens within a 200m radius of the venue: the pre-party, the conference, lunch, the conference party and Open Mic Night.</p>

    </div>
  </div>