<div class="">
  <div class="wrapper pvl">
  <article>

    <h2 class="ratherloud-heading">Thursday 2 June</h2>
    <p>Welcome to the 1st conference day, with 8 talks starting at 09:00 – and dinner / social gathering at 17:00.</p>

    <h2 class="ratherloud-heading">Friday 3 June</h2>
    <p>Conference day #2, with 8 more talks starting at 09:00.</p>
<br><br>
    <h2 class="ratherloud-heading">NodeConf &amp; CSS Conf.no</h2>

    <h3 class="ratherloud-heading">Wednesday 1 June</h3>
    <p>Our friends <a href="https://www.cssconf.no">CSS Conf Norway</a> kick off this amazing week of conferences
      for those of you with tickets.</p>

    <h3 class="ratherloud-heading">Saturday 4 June</h3>
    <p>The day after the Web Rebels conference, we have <a href="http://oslo.nodeconf.com/">NodeConf Oslo</a>.</p>

  </article>

  </div>
</div>
