  <div class="">
    <div class="wrapper pvxl">

      <h2 class="impact">Meet our speakers!</h2>
      <p>Two days, one track, 16 speakers with 16 talks.<br>
        Here are the speakers announced so far:</p>
      <ul class="list-bare rebels">

        <li class="cf">
          <div class="">
            <a name="annevankesteren"></a>
            <img class="rebel-img" src="/img/rebels/annevankesteren.jpg" alt="Anne van Kesteren">
            <h3 class="impact">Anne van Kesteren</h3>
            <p>
            Standards engineer employed by Mozilla. Furthers the web with the WHATWG community. Would love to learn from you all.
            </p>
          </div>
        </li>

        <li class="cf">
          <div class="">
            <a name="jamisondance"></a>
            <img class="rebel-img" src="/img/rebels/jamisondance.jpg" alt="Jamison Dance">
            <h3 class="impact">Jamison Dance</h3>
            <p>
            Jamison Dance is a co-host of the JavaScript Jabber and Soft Skills Engineering podcasts and a friend to animals. He runs the Utah Orem JavaScript and Utah Elm Users meetups and the React Rally conference, builds open source education software at Kuali, and once spelled it `array.lenght`.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="angelinafabbro"></a>
            <img class="rebel-img" src="/img/rebels/angelinafabbro.jpg" alt="Angelina Fabbro">
            <h3 class="impact">Angelina Fabbro</h3>
            <p>
            Angelina is a polyglot programmer weirdo working as the mobile tech lead for the bot company Small Wins. Angelina has a passion for all things cognitive science and software, and a rich background in both. You can follow them as <a href="https://twitter.com/hopefulcyborg">@hopefulcyborg on Twitter</a>.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="joepettersson"></a>
            <img class="rebel-img" src="/img/rebels/joepettersson.jpg" alt="Joe Pettersson">
            <h3 class="impact">Joe Pettersson</h3>
            <p>
            Joe's Engineering Lead at McKinsey Digital Labs. He writes, advises and speaks on engineering, technology, the web, entrepreneurship and building kick-ass products. He's been writing JavaScript since the late 1990's (which makes him feel really old) and has a passion for talking about it publically. He's half Swedish and half English, which means that while he loves herring, snow and flat-pack furniture; he also never performs adequatley at international football tournaments.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="marikokosaka"></a>
            <img class="rebel-img" src="/img/rebels/marikokosaka.jpg" alt="Mariko Kosaka">
            <h3 class="impact">Mariko Kosaka</h3>
            <p>
            Mariko is an engineer who loves data and knitting. When she is not making software at Scripto, she uses code to help her design textiles & organize a local JavaScript meetup in New York City called BrooklynJS.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="danielstenberg"></a>
            <img class="rebel-img" src="/img/rebels/danielstenberg.jpg" alt="Daniel Stenberg">
            <h3 class="impact">Daniel Stenberg</h3>
            <p>
              <a href="http://daniel.haxx.se/">Daniel Stenberg</a> is employed by Mozilla, participated in the HTTP/2 work within the IETF and has hands-on experience with several HTTP/2 implementations. He's perhaps most known as the maintainer and lead developer of <a href="https://curl.haxx.se/">curl</a> and libcurl. Author of <a href="http://daniel.haxx.se/http2">http2 explained</a>.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="soledadpenades"></a>
            <img class="rebel-img" src="/img/rebels/soledadpenades.jpg" alt="Soledad Penadés">
            <h3 class="impact">Soledad Penadés</h3>
            <p>
            Devevangineer at Mozilla. Building real time audio+graphics experiments with JavaScript; breaking half the browsers in the process. It's fun!
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="justinsearls"></a>
            <img class="rebel-img" src="/img/rebels/justinsearls.jpg" alt="Justin Searls">
            <h3 class="impact">Justin Searls</h3>
            <p>Justin has a gift for stumbling upon all that is broken in the software industry, but is careful to avoid the cynicism that any of its problems are beyond fixing. He co-founded Test Double, a software agency of great people dedicated to making software that's better for businesses to manage, developers to work with, and customers to use.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="matthewpodwysocki"></a>
            <img class="rebel-img" src="/img/rebels/matthewpodwysocki.jpg" alt="Matthew Podwysocki">
            <h3 class="impact">Matthew Podwysocki</h3>
            <p>Matthew Podwysocki is a Software Engineer and self-described Open
             Sourcerer at Microsoft.  He currently works on the Reactive Extensions
             for all platforms and the Thali Project exploring the Internet of Things
             and Privacy.  He is passionate about open source, helping such efforts
             as Microsoft support of Node.js.  He also spends his free time helping
             teach the next generation of software developers through STEM outreach.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="nolanlawson"></a>
            <img class="rebel-img" src="/img/rebels/nolanlawson.jpg" alt="Nolan Lawson">
            <h3 class="impact">Nolan Lawson</h3>
            <p>Nolan is a dual Android/web developer at Squarespace, and co-maintainer of PouchDB. He's passionate about offline, performance, and pushing the boundaries of the mobile web.
            </p>
          </div>
        </li>
        
        <li class="cf">
          <div class="">
            <a name="petergasston"></a>
            <img class="rebel-img" src="/img/rebels/petergasston.jpg" alt="Peter Gasston">
            <h3 class="impact">Peter Gasston</h3>
            <p>Peter is a veteran web developer who now works as a technologist at rehabstudio on projects for clients including Google and Facebook, and in partnership with some of the world’s biggest creative agencies. He’s the author of The Book of CSS3 and The Modern Web, and has written for Net Magazine, Smashing Magazine and A List Apart. In his spare time he ‘relaxes’ by reading voraciously, supporting Arsenal, and going on day trips to castles.
            </p>
          </div>
        </li>
      </ul>

    </div>
  </div>