  <div class="">
    <div class="wrapper pvl">

      <h2 class="impact">Tickets</h2>
      <p>We are working on it! Stay tuned, more info on it’s way.</p>
      <p class="mbs">Read up on stuff we’ve written about ticket sales:</p>
      <p class="mbxl"><a class="link"href="https://webrebels.tumblr.com/post/139069607543/ticket-sale">About the 2016 ticket sales</a>
          <a class="link" href="https://webrebels.tumblr.com/post/111637996063/gone-in-less-than-60-seconds">“Gone in less than 60 seconds”</a>
      </p>
      <h2 class="impact">Combo-tickets</h2>
      <p>Yes, there will be combo-tickets for Web Rebels, CSSconf and NodeConf.<br>
      We are working on the details, more info to follow
      </p>

      <h2 class="impact">…but when is it happening?</h2>
      <p>Behold, the ticket release schedule:</p>
      <ul>
          <li>Friday 26 February 13:00 CET — 50 tickets</li>
          <li>Friday 4 March 13:00 CET — 80 tickets</li>
          <li>Friday 11 March 13:00 CET — 80 tickets</li>
          <li>Random ticket drop! — 40 tickets</li>
      </ul>

    </div>
  </div>