<div class="">
  <div class="wrapper pvl">

    <h2 class="impact">Sales Schedule</h2>
    <p>Behold, the ticket release schedule:</p>
    <ul>
        <li>Friday 26 February 13:00 CET — 50 tickets</li>
        <li>Friday 4 March 13:00 CET — 80 tickets</li>
        <li>Friday 11 March 13:00 CET — 80 tickets</li>
        <li>Random ticket drop! — 40 tickets</li>
    </ul>

    <h2 class="impact">Tickets</h2>
    <p>We have one ticket for the Web Rebels Conference, but there is more!
      The Web Rebels collaborate with <a href="http://www.cssconf.no">CSS Conf Nordic</a> (1. June)
      and <a href="http://oslo.nodeconf.com">NodeConf Oslo</a> (4. June) to
      create a unique conference experience lasting four days!<br>
      To make it easier to convince your boss to pay for this, we have combo tickets!</p>
    <p></p>
    <div>
      <b>Web Rebels ticket</b>
      <p>Web Rebels = 3900 NOK</p>

      <b>Triple XXL super awesome combo</b>
      <p>Web Rebels + CSS Conf + Nodeconf = 8000 NOK</p>

      <b>Stylish double rebel combo</b>
      <p>CSS Conf + Web Rebels = 4500 NOK</p>

      <b>JS double extravaganza combo</b>
      <p>Web Rebels + Nodeconf = 5000 NOK</p>
    </div>

    <h2>What does a ticket give you?</h2>
    <a name="ticketcontent"></a>
    <ul>
      <li>access to the conference(s) with awesome talks</li>
      <li>a prepaid card to choose your own <strong>lunch</strong> at Mathallen</li>
      <li>a steady stream of <strong>coffee and tea</strong> all day</li>
      <li>entrance to the <strong>conference party</strong> Thursday evening</li>
      <li>full <strong>dinner</strong> at the party Thursday</li>
      <li>a decent amount of <strong>free beverages</strong> during the party</li>
    </ul>
    <p class="mbs">You can read more on our blog about why the ticket sales process is the way it is:</p>
    <p class="mbxl"><a class="link"href="https://webrebels.tumblr.com/post/139069607543/ticket-sale">About the 2016 ticket sales</a>
        <a class="link" href="https://webrebels.tumblr.com/post/111637996063/gone-in-less-than-60-seconds">“Gone in less than 60 seconds”</a>
    </p>
  </div>
</div>
