<style>
.info {
  width: 100%;
  text-align: center;
}
</style>
<div class="info">
  <h1 class="ratherloud-heading c4">2<span>–</span>3 June 2016</h1>
  <h1 class="ratherloud-heading c3">Oslo, Norway</h1>
</div>
