<div class="">
  <div class="wrapper pvxl">

  <h2 class="f1 impact">Our team of sponsors!</h2>
  <p>The Web Rebels Conference is run by a team of voulenteers and we run our organization as a non-profit.
    Without the help of our team of sponsors there would be no conference. Show them some love!</p>

  <p class="mbxl ">Want to join the team? Check out our <a class="link" href="/sponsors/packages">sponsorship packages</a> for 2016.
  </p>

  <h2 class="f1 impact">Tier 3</h2>
  <div class="mbxl">
    <a href="http://bouvet.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Bouvet"><img src="/img/sponsors/bouvet.png" alt=""></a>
    <a href="http://microsoft.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Microsoft"><img src="/img/sponsors/microsoft.png" alt=""></a>
  </div>
  <h2>Tier 2</h2>
  <div class="mbxl">
    <a href="http://appear.in?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="appear.in"><img src="/img/sponsors/appearin.png" alt=""></a>
    <a href="http://bekk.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Bekk"><img src="/img/sponsors/bekk.png" alt=""></a>
  </div>
  <h2>Tier 1</h2>
  <div class="mbxl">
    <a href="http://kodemaker.no?utm_campaign=wr2016&utm_source=webrebels&utm_content=footer" title="Kodemaker"><img src="/img/sponsors/kodemaker.png" alt=""></a>
  </div>


</div>
</div>
