<p>Below you find our menu for sponsors. We hope you find our options to fit your needs.
If you have any questions or want to discuss options "not on the menu", please do not hestitate to contact us on sponsors@webrebels.org.</p>

<h2>Regular sponsorship</h2>
<a name="regulars"></a>
<p>A Web Rebels sponsorship package costs 30 000 NOK and includes:</p>
<ul>
  <li>Logo on website</li>
  <li>Mention in opening and closing talks</li>
  <li>Displayed logo during breaks</li>
  <li>Logo displayed in online videos</li>
  <li>Mention in social media</li>
  <li>1 ticket</li>
</ul>

<h3>Expansion options</h3>
<a name="expansion"></a>
<b>More exposure + 8 000 NOK</b>
<ul>
  <li>Flag / banner / poster inside the conference venue (provided by you)</li>
  <li>Lanyard form your company (provided by you)</li>
</ul>

<b>Stand / booth + 22 000 NOK</b>
<ul>
  <li>Stands / booth or other kind of pressence at the venue</li>
  <li>3 extra tickets (4 in total at this tier)</li>
</ul>

<h2>Special's</h2>
<a name="coffee"></a>
<h3>Coffee</h3>
<p>We love coffee and we want the best possible coffee for those attending. Help us make this happen by being our Coffee Sponsor!</p>
<ul>
  <li>47 000 NOK</li>
  <li>Branding of the coffee stand</li>
  <li>3 tickets included</li>
</ul>

<a name="openmic"></a>
<h3>Open Mic Night</h3>
<p>Be the exclusive sponsor of this pre-event which takes place the day before the conference where anyone can do a talk.
You’ll be the only sponsor for this event with options to have promotion materials at the venue</p>
<ul>
  <li>47 000 NOK</li>
  <li>Branding present at the venue during the event</li>
  <li>Mention in the opening and closing of the event</li>
  <li>3 ticket</li>
</ul>

<a name="breakfast"></a>
<h3>Breakfast</h3>
<p>You can sponsor the lovely breakfast we'll be serving everyone each morning. Your brand could be there greeting the Rebels!</p>
<ul>
  <li>47 000 NOK</li>
  <li>3 tickets</li>
</ul>

<a name="lunch"></a>
<h3>Lunch</h3>
<p>Everyone attending the conference get a prepaid cards to use in the magnificent <a href="http://mathallen.no" target="_new">Mathallen</a>. You can have your company name on them as our exclusive Lunch sponsor.</p>
<ul>
  <li>47 000 NOK</li>
  <li>Sticker from your company on the lunch cards from Mathallen</li>
  <li>3 tickets</li>
</ul>

<a name="chill"></a>
<h3>Chill out</h3>
<p>After the first day we gather everyone for some dinner and a social gathering. The Chill out sponsor will have exclusive rights to sponsoring this event.</p>
<ul>
  <li>47 000 NOK</li>
  <li>Branding or other activities present at the venue for the duration of the social event</li>
  <li>3 tickets</li>
</ul>

<a name="chill"></a>
<h3>Media</h3>
<p>Sponsor the live streaming and recording of videos from the conference as our Media sponsor.</p>
<ul>
  <li>47 000 NOK</li>
  <li>3 tickets</li>
</ul>
