html {
  background-color: white;
  color: black;
  font-size: 14px;
}
header {
  text-align: center;
}
.visuallyhidden {
  visibility: hidden;
}
.logo-img {
  width: 200px;
}

.menu .menu-item a{
  color: #000 !important;
}
.menu {
  text-align: center;
  list-style-type: none;
  clear: both;
  padding-left: 0;
}

.menu-item {
   display: inline-block;
   list-style: none;
}

.menu-item a {
   display: block;
   padding: 0.75em 1em 0.5em;
   color: #fff;
}
