
/* components below the fold */

/* Navigation in footer */

.menu {
    list-style-type: none;
    clear: both;
    padding-left: 0;
    margin-left: 0;
}

.menu-item {
    display: inline-block;
}

.menu-item a {
    display: block;
    padding: 0.5em 1em;
    color: #fff !important;
}

.menu-item a:hover,
.menu-item a:active {
    background-color: #8f4d91;
    transition: all 0.1s ease-in 0s;
}

footer {
    background-color: #202020;
    padding-top: 4em;
    padding-bottom: 2em;
    margin-top: 4em;
}